
.search-bar-container {
    display: flex;
    background-color: var(--item-color);
	height: 48px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 3px;
	border-width: 1px;
    width: 50%;
    min-width: 200px;
}

.search-bar {
    width: 100%;
}

.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	user-select: none;
    padding-right: 8px;
}

.filter-icon {
    
}