.video-item {
	position: relative;
	text-align: center;
}

.video-item-thumbnail {
    width: 480px;
    height: 270px;
	border-radius: 5px;
}

.video-item-duration {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
	position: absolute;
	bottom: 8px;
	right: 16px;
}
