.video-item {

}

.video-item:hover {
    cursor: pointer;
}

.video-thumbnail-container {
	position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.video-thumbnail {
    width: 480px;
    height: 270px;
    object-fit: contain;
    border-radius: 5px;
}

.video-duration {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
	position: absolute;
	bottom: 4px;
	right: 8px;
}